pkgbase = whiteboard-bin
	pkgdesc = Guided code reviews with coding agents
	pkgver = 0.1.2
	pkgrel = 1
	url = https://dev.fast/
	arch = x86_64
	license = MIT
	makedepends = rpm-tools
	depends = alsa-lib
	depends = at-spi2-core
	depends = ca-certificates
	depends = cairo
	depends = curl
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = git
	depends = hicolor-icon-theme
	depends = krb5
	depends = libcups
	depends = libnotify
	depends = libsecret
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxkbfile
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = pango
	depends = systemd-libs
	depends = vulkan-icd-loader
	depends = xdg-utils
	depends = zlib
	optdepends = bubblewrap: sandbox agent commands
	optdepends = python: run Python language extensions
	optdepends = socat: sandbox agent commands
	provides = whiteboard
	conflicts = whiteboard
	noextract = whiteboard-0.1.2.rpm
	options = !debug
	options = !strip
	source = whiteboard-0.1.2.rpm::https://github.com/devdotfast/whiteboard/releases/download/v0.1.2/dev-fast-review-0.1.2-1.x86_64.rpm
	sha256sums = 5d5bb875efdce1d37b66e2c241c5315f30a9036136e620f5894c5329a31b71f7

pkgname = whiteboard-bin
